@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf");
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}