@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf");
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.card {
  margin-bottom: 30px;
  width: 570px;
  height: 339px;
  background-color: #4E4E4E;
}

.title {
  padding: 20px 55px 59px 31px;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.chart {
  margin: auto;
  width: 296px;
  /* width: 51.93%; */
  /* height: 181px;*/
}